[submodule "account/service"]
	path = account/service
	url = https://github.com/tiki/core-account-service
[submodule "aws/github/role"]
	path = aws/github/role
	url = https://github.com/tiki/core-aws-github-role
[submodule "account/subscription"]
	path = account/subscription
	url = https://github.com/tiki/core-account-subscription
[submodule "ocean/iceberg-utils"]
	path = ocean/iceberg-utils
	url = https://github.com/tiki/core-ocean-iceberg-utils
[submodule "ocean/catalog"]
	path = ocean/catalog
	url = https://github.com/tiki/core-ocean-catalog
[submodule "ocean/metadata"]
	path = ocean/metadata
	url = https://github.com/tiki/core-ocean-metadata
