[submodule "account/service"]
	path = account/service
	url = https://github.com/tiki/core-account-service
[submodule "aws/github/role"]
	path = aws/github/role
	url = https://github.com/tiki/core-aws-github-role
[submodule "ocean/iceberg-utils"]
	path = ocean/iceberg-utils
	url = https://github.com/tiki/core-ocean-iceberg-utils
[submodule "ocean/catalog"]
	path = ocean/catalog
	url = https://github.com/tiki/core-ocean-catalog
[submodule "ocean/metadata"]
	path = ocean/metadata
	url = https://github.com/tiki/core-ocean-metadata
[submodule "account/subscription/estimate"]
	path = account/subscription/estimate
	url = https://github.com/tiki/core-account-subscription-estimate
[submodule "account/subscription/purchase"]
	path = account/subscription/purchase
	url = https://github.com/tiki/core-account-subscription-purchase
[submodule "account/subscription/update"]
	path = account/subscription/update
	url = https://github.com/tiki/core-account-subscription-update
[submodule "account/cleanroom/create"]
	path = account/cleanroom/create
	url = https://github.com/tiki/core-account-cleanroom-create
[submodule "account/cleanroom/delete"]
	path = account/cleanroom/delete
	url = https://github.com/tiki/core-account-cleanroom-delete
[submodule "aws/account/sf"]
	path = aws/account/sf
	url = https://github.com/tiki/core-aws-account-sf
[submodule "trail/write"]
	path = trail/write
	url = https://github.com/tiki/core-trail-write
[submodule "trail/endpoint"]
	path = trail/endpoint
	url = https://github.com/tiki/core-trail-endpoint
[submodule "trail/storage"]
	path = trail/storage
	url = https://github.com/tiki/core-trail-storage
[submodule "aws/authorizer"]
	path = aws/authorizer
	url = https://github.com/tiki/core-aws-authorizer
[submodule "ocean/pipelines"]
	path = ocean/pipelines
	url = https://github.com/tiki/core-ocean-pipelines
